* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f4f4f4;
    font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
}

ul,
ol {
    list-style: none;
}

i {
    font-style: normal;
}

.icofont {
    font-family: "icomoon";
}

div {
    display: block;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    vertical-align: bottom;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}